<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://api-maps.yandex.ru/2.1/?apikey=be16972a-5f68-4d7b-a863-9738ea213d60&lang=ru_RU" type="text/javascript">
    </script>

    <script type="text/javascript">

        // Как только будет загружен API и готов DOM, выполняем инициализацию
        ymaps.ready(init);

        function init () {

            // При возникновении событий, изменяющих состояние карты,
            // ее параметры передаются в адресную строку браузера (после символа #).
            // При загрузке страницы карта устанавливается в состояние,
            // соответствующее переданным параметрам.
            // http://.../savemap.html#type=hybrid&center=93.3218,60.0428&zoom=12
            var myMap = new ymaps.Map("map", {
                    center: [48.707787, 44.515933], // Волгоград
                    zoom: 8
                });


            // Обработка событий карты:
            // - boundschange - изменение границ области показа;
            // - type - изменение типа карты;
            myMap.events.add(['boundschange', 'typechange'], setLocationHash);

            // Обработка событий открытия балуна для любого элемента
            // коллекции.
            // В данном случае на карте находятся только метки одной коллекции.
            // Чтобы обработать события любых геообъектов карты можно использовать

            setMapStateByHash();

            // Получение значение параметра name из адресной строки
            // браузера.
            function getParam (name, location) {
                location = location || window.location.hash;
                var res = location.match(new RegExp('[#&]' + name + '=([^&]*)', 'i'));
                return (res && res[1] ? res[1] : false);
            }

            // Передача параметров, описывающих состояние карты,
            // в адресную строку браузера.
            function setLocationHash () {
                var params = [
                    'type=' + myMap.getType().split('#')[1],
                    'center=' + myMap.getCenter(),
                    'zoom=' + myMap.getZoom()
                ];
                window.location.hash = params.join('&');
            }

            // Установка состояния карты в соответствии с переданными в адресной строке
            // браузера параметрами.
            function setMapStateByHash () {
                var hashType = getParam('type'),
                    hashCenter = getParam('center'),
                    hashZoom = getParam('zoom'),
                    open = getParam('open');
                if (hashType) {
                    myMap.setType('yandex#' + hashType);
                }
                if (hashCenter) {
                    myMap.setCenter(hashCenter.split(','));
                }
                if (hashZoom) {
                    myMap.setZoom(hashZoom);
                }
            }
        }

    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<body style="background-color: lightblue; ">
<header>
    <nav class="navbar navbar-dark bg-dark">
        <h1><a href="/" style="color:white;" class="nav-item nav-link">Explorer</a></h1>
        <h2><a href="/cards" style="color:white;" class="nav-item nav-link">Маршруты</a></h2>
        <h2><a href="/news" style="color:white;" class="nav-item nav-link">Новости</a></h2>
        {% if current_user.is_authenticated %}
            <h2><a href="/new_card_pre" style="color:white;" class="nav-item nav-link">Добавить маршрут</a></h2>
        {% endif %}
        {% if current_user.is_authenticated %}
            <a class="navbar-brand" href="/logout">{{ current_user.nickname }}</a>
        {% else %}
            <p>
                <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
                <a class="btn btn-success" href="/login">Войти</a>
            </p>
        {% endif %}
    </nav>
</header>
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>