{% extends "base.html" %}

{% block content %}
<h1>{{title}}</h1>
{% if current_user.is_authenticated %}
<br>
<a href="/card_{{ card_id }}/add_news" class="btn btn-secondary">Добавить новость</a>
<br>
<br>
{% endif %}

{% if not empty %}
<h1>К этому маршруту пока нет новостей</h1>
{% endif %}


{% for item in news%}
<div class="card border-dark mb-3">
    <div class="card-header">
        <h2>{{item.title}}</h2>
    </div>
    <div class="card-body text-dark">
        <div>
        {% if item.preview %}
        {{ item.preview }}
        {% else %}
            {{item.content}}
        {% endif %}
            </div>
        <div>
        Автор - {{item.user.nickname}}, Дата написания - {{item.created_date}}
            </div>
    </div>
    <div>
        <a href="/reading_news/{{ item.id }}" class="btn btn-success">
            Читать
        </a>
        {% if current_user.is_authenticated and current_user == item.user %}
            <a href="/edit_news/{{ item.id }}/in" class="btn btn-warning">
                Изменить
            </a>
            <a href="card_{{ card_id }}/news_delete/{{ item.id }}" class="btn btn-danger">
                Удалить
            </a>
        {% endif %}
    </div>
</div>
<br>
{% endfor %}
{% endblock %}