{% extends "base.html" %}

{% block content %}
<h1>Index page</h1>
{% for item in cards%}
    <a href="/display_card/{{item.id}}"><h2 align="left">{{item.title}}</h2></a>
    <h3 align="left">{{item.region}}, {{item.place}}</h3>
    <h3 align="left">{{item.creator}}-{{item.changed_at}}</h3>
    {% if current_user.is_authenticated and current_user.id == item.creator %}
        <div>
           <a href="/card/{{ item.id }}" class="btn btn-warning">
            Изменить
           </a>
           <a href="/card_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
            </a>
        </div>
    {% endif %}
{% endfor %}
{% endblock %}