{% extends "base.html" %}

{% block content %}
<h1>News page</h1>
<h1>Записи в блоге</h1>
{% if current_user.id == card.creator %}
    <a href="/card_{{ card.id }}/add_news" class="btn btn-secondary">Добавить новость</a>
{% endif %}
{% for item in news%}
<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        {% if item.preview %}
            {{ item.preview }}
        {% else %}
            {{item.content}}
        {% endif %}
    </div>
    <div>
        Автор - {{item.user.nickname}}, Дата написания - {{item.created_date}}
    </div>
</div>
<div>
    <a href="/card_{{ card.id }}/reading_news/{{ item.id }}" class="btn btn-success">
        Читать
    </a>
    {% if current_user.is_authenticated and current_user == item.user %}
        <a href="/card_{{ card.id }}/edit_news/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/card_{{ card.id }}/news_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    {% endif %}
</div>
{% endfor %}
{% endblock %}