{% extends "base.html" %}

{% block content %}
<h1>Index page</h1>
<h1>Записи в блоге</h1>
{% for item in cards%}
{% if loop.index % 2 == 0 %}
    <div align="left">
        <a href="/display_card/{{item.id}}"><h2>{{item.title}}</h2></a>
        <h3>{{item.region}}, {{item.place}}</h3>
        <h3>{{item.creator}}-{{item.changed_at}}</h3>
        {% if current_user.is_authenticated and current_user.id == item.creator %}
            <a href="/card_{{item.id}}/news" class="btn btn-primary">Новости</a>
            <a href="/card_{{item.id}}/forum" class="btn btn-success">Форум</a>
        {% endif %}
    </div>
{% else %}
     <div align="right">
        <a href="/display_card/{{item.id}}"><h2>{{item.title}}</h2></a>
        <h3>{{item.region}}, {{item.place}}</h3>
        <h3>{{item.creator}}-{{item.changed_at}}</h3>
        {% if current_user.is_authenticated and current_user.id == item.creator %}
            <a href="/card_{{item.id}}/forum" class="btn btn-success">Форум</a>
            <a href="/card_{{item.id}}/news" class="btn btn-primary">Новости</a>
        {% endif %}
    </div>
{% endif %}
{% endfor %}
{% endblock %}