{% extends "base.html" %}

{% block content %}
<h1>{{cards.title}}</h1>
<h4>{{cards.creator_obj.nickname}} - {{cards.changed_at}} {{cards.region}}, {{cards.place}}</h4>
<h4>Продолжительность около {{cards.longest}}</h4>
<h4>{{cards.map}}</h4>
<form action="" method="post">
<header>
    <nav class="navbar navbar-dark bg-primary">
        {% for number in count %}
            <h2><a href=/display_card/page/{{number}} class="btn btn-secondary">{{number}}</a></h2>
        {% endfor %}
    </nav>
    </header>
</form>
<main role="main" class="container">
    {% block content_2 %}{% endblock %}
</main>
{% endblock %}
