{% extends "base.html" %}

{% block content %}
<h1>Создание карточки</h1>
<form action="" method="post">
    <header>
    <nav class="navbar navbar-dark bg-primary">
        {% for number in count %}
            <h2><a href=create_card_{{number}} class="btn btn-secondary">{{number}}</a></h2>
        {% endfor %}
    </nav>
    </header>
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.place.label }}<br>
        {{ form.place(class="form-control") }}<br>
        {% for error in form.place.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.longest.label }}<br>
        {{ form.longest(class="form-control") }}<br>
        {% for error in form.longest.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}