{% extends "base.html" %}

{% block content %}
<h1>{{cards.title}}</h1>
<h4>{{cards.creator_obj.nickname}} - {{cards.changed_at}} {{cards.region}}, {{cards.place}}</h4>
<h4>Продолжительность около {{cards.longest}}</h4>
<form action="" method="post">
<header>
    <nav class="navbar navbar-light bg-primary">
        {% if page == 0 %}
                <h2><a href=/display_card/{{cards.id}} class="btn btn-danger">0</a></h2>
            {% else %}
                <h2><a href=/display_card/{{cards.id}} class="btn btn-secondary">0</a></h2>
            {% endif %}
        {% for number in count %}
            {% if page == number %}
                <h2><a href=/display_card/page/{{number}} class="btn btn-danger">{{number}}</a></h2>
            {% else %}
                <h2><a href=/display_card/page/{{number}} class="btn btn-secondary">{{number}}</a></h2>
            {% endif %}
        {% endfor %}
    </nav>
    </header>
</form>

{% if page == 0 %}
    <br>

    <body>
            <div id="map" style="width: 600px; height: 400px"></div>
    </body>

    <br>
{% endif %}

<main role="main" class="container">
    {% block content_2 %}{% endblock %}
</main>
{% if current_user.is_authenticated %}
    <h2><a href=/like/{{cards.id}}-{{page}} class="btn btn-success">Мне нравится</a></h2>
{% endif %}

<h2><a href=/like/{{cards.id}}-{{page}} class="btn btn-info">Новости</a></h2>

<h2><a href=/like/{{cards.id}}-{{page}} class="btn btn-info">Форум</a></h2>

{% endblock %}
